<table width="866" border="0">
  <tr>
    <td width="382"><img src="http://img08.taobaocdn.com/imgextra/i8/120624284/T2GL8hXk4XXXXXXXXX_!!120624284.gif" align=absMiddle /></td>
    <td width="474"><p><span><font size=3><font style="BACKGROUND-COLOR: #00ff00">合肥有机绿色食品网上专卖</font>< >服务于广大合肥市面的“<font color=#0000ff><strong>菜篮子</strong></font><strong>”把更多更健康的深山有机绿色食品送上合肥市民的餐桌，让更多的合肥市民<font color=#ff0000>告别垃圾食品</font>真正吃上无公害，无污染的<font color=#0000ff>绿色食品</font>！</strong></font></span></p>
      <strong><br />
      <p><span><font size=3>本店铺所有商品都是出自天柱山原始森林2700多亩的有机采摘基地“<font style="BACKGROUND-COLOR: #339966" color=#00ff00>百分百来自深山，百分百给您健康</font>”，让合肥市民真正做到真正做到买的舒心，吃的放心！</font></span></p>
      <br />
      <p><span><font color=#ff0000 size=4>合肥市区购物首次满50元提供送货上门服务，货到满意后再付款</font></span></p>
      <p><span><font size=2><font size=3>（如若有批发客户，另谈）</font></font></span></p>
    </strong></td>
  </tr>
</table>