<div class="row">

  <div class="large-7 columns">

<center>
<iframe width="350" height="296" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E5%B9%BF%E4%B8%9C%E7%9C%81%E6%B7%B1%E5%9C%B3%E5%B8%82%E7%A6%8F%E7%94%B0%E5%8C%BA%E6%B3%B0%E7%84%B6%E4%B8%83%E8%B7%AF%E8%8B%8D%E6%9D%BE%E5%A4%A7%E5%8E%A6&amp;aq=0&amp;oq=%E6%B7%B1%E5%9C%B3%E5%B8%82%E7%A6%8F%E7%94%B0%E5%8C%BA%E8%8B%8D%E6%9D%BE%E5%A4%A7%E5%8E%A6&amp;sll=22.543099,114.057868&amp;sspn=0.773695,0.973663&amp;brcurrent=3,0x31508e64e5c642c1:0x951daa7c349f366f,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E8%8B%8D%E6%9D%BE%E5%A4%A7%E5%8E%A6&amp;hnear=%E5%B9%BF%E4%B8%9C%E7%9C%81%E6%B7%B1%E5%9C%B3%E5%B8%82%E7%A6%8F%E7%94%B0%E5%8C%BA%E6%B3%B0%E7%84%B6%E4%B8%83%E8%B7%AF&amp;t=m&amp;cid=13433108624372931894&amp;ll=22.532472,114.026643&amp;spn=0.04836,0.060854&amp;output=embed"></iframe><br /><small><a href="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E5%B9%BF%E4%B8%9C%E7%9C%81%E6%B7%B1%E5%9C%B3%E5%B8%82%E7%A6%8F%E7%94%B0%E5%8C%BA%E6%B3%B0%E7%84%B6%E4%B8%83%E8%B7%AF%E8%8B%8D%E6%9D%BE%E5%A4%A7%E5%8E%A6&amp;aq=0&amp;oq=%E6%B7%B1%E5%9C%B3%E5%B8%82%E7%A6%8F%E7%94%B0%E5%8C%BA%E8%8B%8D%E6%9D%BE%E5%A4%A7%E5%8E%A6&amp;sll=22.543099,114.057868&amp;sspn=0.773695,0.973663&amp;brcurrent=3,0x31508e64e5c642c1:0x951daa7c349f366f,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E8%8B%8D%E6%9D%BE%E5%A4%A7%E5%8E%A6&amp;hnear=%E5%B9%BF%E4%B8%9C%E7%9C%81%E6%B7%B1%E5%9C%B3%E5%B8%82%E7%A6%8F%E7%94%B0%E5%8C%BA%E6%B3%B0%E7%84%B6%E4%B8%83%E8%B7%AF&amp;t=m&amp;cid=13433108624372931894&amp;ll=22.532472,114.026643&amp;spn=0.04836,0.060854" style="color:#32c1e2;text-align:left">查看大图</a></small>
</center>

	</div>

	 <div class="large-5 columns">
	 	<div class="panel">
	 	<font color="#898989" size="2">
	 	<h4>联系我们：</h4>
	 	<li>电话：0755-83205575</li>
	 	<li><%= mail_to "support@highand.me", "Email: support@highand.me" %></li>
	 	</font>
	 </div>
	 </div>
</div>