
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul class="button-group">
  <li><a href="#" class="large button buttony">Button 1</a></li>
  <li><a href="#" class="large button">Button 2</a></li>
  <li><a href="#" class="large button radius">Button 3</a></li>
</ul>