<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Top Bar Title </a></h1>
    </li>
    
    </ul>
</nav>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul class="button-group">
  <li><a href="#" class="small button">Button 1</a></li>
  <li><a href="#" class="small button">Button 2</a></li>
  <li><a href="#" class="small button">Button 3</a></li>
</ul>