
<div class="footer">
	<center>
		<small>
			<p><font color="#bcbcbc">©深圳市不亦乐乎科技有限公司</font>
			<font color="#bcbcbc">高手™ Highand™ All Rights Reserved</font>
			</p>
			<p>
				<font color="#bcbcbc">	
					<a href="http://www.miibeian.gov.cn/">
						<font color="#9a9a9a">粤ICP备13050403号</font>
					</a>
				</font>
			</p>
		</small>
	</center>
</div>